:root {
  /* Colors */
  --main: #f8f3e9;
  --text-color: #2c2a2b;
  --text-light: #3d3d3f;
  --text-gray: #8e8e8e;
  /* /Colors */

  /* Text Sizes */
  --big-text: 5.5rem
  --title-text: 3rem;
  --subtitle-text: 2.2rem;
  --description-text: 1.25rem;
  /* /Text Sizes */

  /* Text Weights */
  --big-weight: 600
  /* /Text Weights */
}
