:root {
  /* Colors */
  --main: #fbf2e0;
  --text-color: #2c2a2b;
  --text-light: #3d3d3f;
  --text-gray: #8e8e8e;
  /* /Colors */
}

@font-face {
  font-family: "PlayDisplay";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "BeeZee";
  src: url(../fonts/ABeeZee-Regular.ttf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "PlayDisplay";
}

h6,
p {
  color: var(--text-light);
  font-family: "BeeZee";
}

li {
  font-family: "BeeZee";
}

img {
  mix-blend-mode: multiply;
}

/* Mobile Navbar */
.mobile-navbar {
  position: absolute;
  right: 1rem;
  left: 1rem;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.mobile-navbar.show {
  top: 6rem;
  opacity: 1;
  visibility: visible;
}
/* /Mobile Navbar */

.splide__slide .img_box img {
  cursor: pointer;
  margin: 0 auto;
}

footer li.footer-li {
  color: var(--text-light);
}

.footer-buttons {
  margin: 2rem 0;
}

.footer-buttons button {
  background-color: black;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}

.footer-buttons button svg {
  fill: white;
  height: 1rem;
}

@media only screen and (min-width: 1023px) {
  .product__title-text {
    font-size: 2rem;
  }

  .aboutus__title-text {
    font-size: 2rem;
  }

  .benefits__title-text {
    font-size: 3rem;
    margin: 1.5rem 0;
  }
}

@media only screen and (max-width: 1022px) {
  .product__title-text {
    font-size: 1.5rem;
  }

  .aboutus__title-text {
    font-size: 1.8rem;
  }

  .benefits__title-text {
    font-size: 3rem;
    margin: 1.5rem 0;
  }
}

@media only screen and (max-width: 900px) {
  .product__title-text {
    font-size: 1.5rem;
  }

  .aboutus__title-text {
    font-size: 2.2rem;
  }

  .benefits__title-text {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
